<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="titulo">Territorio Fernando Este</h1>
    <div class="main">
    <p class="p_titulo">Para ver el mapa del territorio favor seleccione un Grupo: </p><select id="seleccion" class="select">
        <option value="#">-- Seleccione un Grupo --</option>
        <option value="1">Grupo 1</option>
        <option value="2">Grupo 2</option>
        <option value="3">Grupo 3</option>
        <option value="4">Grupo 4</option>
        <option value="5">Grupo 5</option>
        <option value="6">Grupo 6</option>
        <option value="7">Grupo 7</option>
    </select>
    </div>
    <div id="mapa"></div>
    
</body>
</html>