 <h2 class="titulo_h2">Mi Territorio Asignado</h2>
<div class="main">
    <div class="territorio_asignado">
        <h2 class="titulo_h2">Territorio 39</h2>
        <img src="/img/Territorio 39.jpg" alt="" class="img_territorio">
    </div>
    <div class="datos_territorio">
        <h2 class="titulo_h2">Datos del Territorio</h2>
        <div class="tarjeta_info">
            <p>Fecha: 3/12/2022</p>
            <p>Manzanas Trabajadas: 1,2,3</p>
        </div>
    </div>
</div>