body{
    background-color: #F4F6F6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    text-align: center;
    color: purple;
}
.p_titulo{
    color:forestgreen;
    font-weight: bold;
}
.select{
    text-align: center;
    font-weight: bold;
    height: 35px;
}
#mapa{
    margin: auto;
    height: 480px;
    width: 640px;
}


@media screen and (max-width: 480px){
    #mapa{
    height: 635px;
    width: 415px;
    }
}